html {
  width: 100%;
}

body {
  min-width: 600px;
  max-width: 1100px;
  width: 60%;
  margin: auto;
}

.content {
  margin: 2em;
}

h1 {
  margin: 2em 0 0 0;
  color: #2e484c;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1.8em;
  text-transform: uppercase;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #0d8ba1;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #1a5952;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #9685BA;
}

.label-title {
  font-size: 17px;
  font-weight: bold;
}

.label-text {
  font-size: 10px;
  text-align: right;
}

.label-value {
  font-size: 10px;
  color: rgb(141, 37, 12);
}

.details-value {
  color: rgb(141, 37, 12);
}

table {
  border: 2px solid #000000;
  text-align: left;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #000000;
  padding: 5px 4px;
}

table tbody td {
  font-size: 13px;
}

table thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}

table tfoot td {
  font-size: 14px;
}
