<div class='col-6'>
    <span>Iso ID:</span>
    <span class="details-value">@ID</span>
</div>
<div class='col-2'>
    <span>Temp:</span>
    <span class="details-value">@temp</span>
</div>
<div class='col-2'>
    <span class="details-value"><a href="https://dx.doi.org/@doi" target="_blank" rel="noopener noreferrer"> Publication
        </a></span>
</div>
<div class='col-2'>
    <span class="details-value"><a href="https://adsorption.nist.gov/isodb/index.php?DOI=@doi#biblio" target="_blank"
            rel="noopener noreferrer"> ISODB Entry </a></span>
</div>