<div>
    <h2>Material: {{ material }}</h2>
</div>
<div>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>{{ gas0 | capitalize }}</td>
                <td>{{ gas1 | capitalize }}</td>
            </tr>
            <tr>
                <td>Loading (selected)</td>
                <td>{{ gas0_load | round(3) }}</td>
                <td>{{ gas1_load | round(3) }}</td>
            </tr>
            <tr>
                <td>Henry's constant</td>
                <td>{{ gas0_hk | round(5) }}</td>
                <td>{{ gas1_hk | round(5) }}</td>
            </tr>
            <tr>
                <td>Number of isotherms</td>
                <td>{{ gas0_niso }}</td>
                <td>{{ gas1_niso }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Isotherms</h3>
</div>
<div>
    <div style="display: flex;">
        <div style="flex: 50%; overflow: scroll;">
            <ul>
                {% for iso in gas0_iso %}
                <li>{{ iso }}</li>
                {% endfor %}
            </ul>
        </div>
        <div style="flex: 50%; overflow: scroll;">
            <ul>
                {% for iso in gas1_iso %}
                <li>{{ iso }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
