<div>
    <h2>Material: {{ material }}</h2>
</div>
<div>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>{{ gas0 | capitalize }}</td>
                <td>{{ gas1 | capitalize }}</td>
            </tr>
            <tr>
                <td>Loading (selected)</td>
                <td>{{ gas0_load | round(3) }}</td>
                <td>{{ gas1_load | round(3) }}</td>
            </tr>
            <tr>
                <td>Henry's constant</td>
                <td>{{ gas0_hk | round(5) }}</td>
                <td>{{ gas1_hk | round(5) }}</td>
            </tr>
            <tr>
                <td>Number of isotherms</td>
                <td>{{ gas0_niso }}</td>
                <td>{{ gas1_niso }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Isotherms</h3>
</div>
<div>
    <div style="display: flex;">
        <div style="flex: 50%; overflow: scroll;">
            {% for iso in gas0_iso %}
            <div id="{{ iso }}" onmouseenter="change_on_hover(event)" onmouseleave="change_on_hover(event)">
                <a href=https://adsorption.nist.gov/isodb/index.php?DOI={{ iso }}#biblio>{{ iso }}</a> 
            </div>
            {% endfor %} </div> 
        <div style="flex: 50%; overflow: scroll;">
            {% for iso in gas1_iso %}
                <div>{{ iso }}</div>
            {% endfor %}
        </div>
    </div>
</div>