<div>
    <h2>Material: {material}</h2>
</div>
<div>
    <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>{gas0}</td>
                    <td>{gas1}</td>
                </tr>
                <tr>
                    <td>Loading (selected)</td>
                    <td>{gas0_load}</td>
                    <td>{gas1_load}</td>
                </tr>
                <tr>
                    <td>Henry's constant</td>
                    <td>{gas0_hk}</td>
                    <td>{gas1_hk}</td>
                </tr>
                <tr>
                    <td>Number of isotherms</td>
                    <td>{gas0_iso}</td>
                    <td>{gas1_iso}</td>
                </tr>
            </tbody>
        </table>
</div>