<div>
    <div>
        <span class="label-title">@labels</span>
    </div>

    <table>
        <tr>
            <td class="label-text">Coord (x, y):</td>
            <td class="label-text label-value">(@x{{ p }}, @y{{ p }})</td>
        </tr>
        <tr>
            <td class="label-text">Total isotherms:</td>
            <td class="label-value">@z{{ p }}</td>
        </tr>
        <tr>
            <td class="label-text">{{ gas0 | title }} isotherms:</td>
            <td class="label-value">@z{{ 0 }}x</td>
        </tr>
        <tr>
            <td class="label-text">{{ gas1 | title }} isotherms:</td>
            <td class="label-value">@z{{ 0 }}y</td>
        </tr>
    </table>
</div>