<div>
    <div>
        <span class="label-title">@labels</span>
    </div>

    <table>
        <tr>
            <td class="label-text">Coord (x, y):</td>
            <td class="label-text label-value">(@x_{{ p }}, @y_{{ p }})</td>
        </tr>
        <tr>
            <td class="label-text">Total isotherms:</td>
            <td class="label-value">@n_{{ p }}</td>
        </tr>
        <tr>
            <td class="label-text">Gas 1 isotherms:</td>
            <td class="label-value">@n_x{{ p }}</td>
        </tr>
        <tr>
            <td class="label-text">Gas 2 isotherms:</td>
            <td class="label-value">@n_y{{ p }}</td>
        </tr>
    </table>
</div>